<div id="boxleft">
	Teile dieses Angebot mit Deinen Freunden,<br> damit der Deal sattfindet!
</div>
<div id="arrowouter">
	<div id="arrow">
	</div>
</div>

<div id="boxright">
	<div class="littlebox fb">
		<% image_tag("fb.png") %> Teilen
	</div>
	<div class="littlebox fb">
		<% image_tag("fb.png") %> Senden
	</div>
	<div class="littlebox twitter">
		<% image_tag("twitter.png") %> Tweet
	</div>
</div>

<div id="sub_left">
	<h2>Highlights</h2>
	<ul>
		<li>Der Klassiker unter den Sneakern in den Farbkombis Schwarz/Gelb und Weiß/Blau</li>
		<li>Pimpe Deine Füße mit</li>
		<li>Balsam für Deine Sohlen mit der patentierten Air Max Technologie</li>
	</ul>
</div>
<div id="sub_right">
	<h2>Konditionen</h2>
	<ul>
		<li>Verfügbar in den Größen US 7,5 bis US 12</li>
		<li>Wahlweise mit 2 Gläsern Prosecco oder 2</li>
		<li>1 Sneaker pro Kunde kaufbar</li>
		<li>Weitere Infos siehe FAQs</li>
	</ul></div>	

	<div id="sub_both">
		<h2>Egal ob beim Sport oder in der Freizeit, mit diesem Sneaker glänzt man einfach überall!</h2>
		<p>NIKE AIR Classic, Sport- und Freizeitschuh im klassischen Design, Lederschaft mit Perforation für hohe Atmungsaktivität; weitenvariables Schnürsystem in der Ferse; Außensohle aus langlebigem BRS 1000 Karbongummi mit griffigem Waffelprofil.</p>
	</div>
	<div class="clear"></div>
	<div id="shipping">
		<h2>Versand und Zahlungsarten</h2>
		<img src="images/paypal.png" alt="pay with paypal"/>
		<ul>
			<li><b>Weltweit</b> €7,90 <span class="grey"> (Versandkosten für zusätzliche Bestellungen: €0,00)</span></li>
			<li><b>Europa</b> €5,90 <span class="grey"> (Versandkosten für zusätzliche Bestellungen: €0,00)</span></li>
			<li><b>Deutschland</b> €2,90 <span class="grey"> (Versandkosten für zusätzliche Bestellungen: €0,00)</span></li>
		</ul>
	</div>
	<div class="clear"></div>

	<footer>
		<ul>
			<li><a href="./agb">AGBs</a></li>
			<li><a href="./Dtn">Datenschutzbestimmungen</a></li>
		</ul>
		<img src="/assets/nextsocial.png" alt="nextsocial logo small" />
	</footer>
</div>
