	<div id="deal-container">
	    <div id="main" role="main">
	    	<h3 class="cart-head">Vielen Dank für deine Bestellung</h3>
			<p id="notice"><%= notice %></p>
	    	<div class="clear"><br /></div>
	    	<div class="clear"><br /></div>
	    </div>
	    <div class="footer">
		   	<ul>
		    	<tr><a href="./agb">AGBs</a></tr>
		   		<tr><a href="./Dtn">Datenschutzbestimmungen</a></tr>
		    </ul>
		    <img src="/assets/nextsocial.png" alt="nextsocial logo small" />
		</div>
  	</div> 
